:root {

    /*
    |--------------------------------------------------------------------------
    | Brand
    |--------------------------------------------------------------------------
    */

    --lq-primary: #0ea5e9;

    --lq-primary-hover: #0284c7;



    /*
    |--------------------------------------------------------------------------
    | Semantic
    |--------------------------------------------------------------------------
    */


    --lq-success: #22c55e;

    --lq-warning: #f59e0b;

    --lq-danger: #ef4444;



    /*
    |--------------------------------------------------------------------------
    | Surface
    |--------------------------------------------------------------------------
    */


    --lq-surface:

        #ffffff;


    --lq-background:

        #f8fafc;



    /*
    |--------------------------------------------------------------------------
    | Text
    |--------------------------------------------------------------------------
    */


    --lq-text-primary:

        #0f172a;


    --lq-text-secondary:

        #475569;


    --lq-text-muted:

        #64748b;

}