:root {


    --lq-space-1:
        .25rem;


    --lq-space-2:
        .5rem;


    --lq-space-3:
        .75rem;


    --lq-space-4:
        1rem;


    --lq-space-5:
        1.25rem;


    --lq-space-6:
        1.5rem;


    --lq-space-8:
        2rem;


}